## **Task1**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Step 1: Understand the Dataset Structure
df=pd.read_csv('/content/drive/My Drive/companies.csv')
df.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 44 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   196553 non-null  object
 1   Unnamed: 0.1         196553 non-null  int64
 2   entity_type          196553 non-null  object
 3   entity_id            196553 non-null  int64
 4   parent_id            0 non-null       float64
 5   name                 196530 non-null  object
 6   normalized_name      196527 non-null  object
 7   permalink            196553 non-null  object
 8   category_code        123186 non-null  object
 9   status               196553 non-null  object
 10  founded_at           91227 non-null   object
 11  closed_at            2620 non-null    object
 12  domain               126545 non-null  object
 13  homepage_url         126545 non-null  object
 14  twitter_username     80591 non-null   object
 15  logo_url             110110 non-null  object
 16  logo_width           110110 non-null  float64
 17  logo_height          110110 non-null  float64
 18  short_description    7131 non-null    object
 19  description          92048 non-null   object
 20  overview             126971 non-null  object
 21  tag_list             81452 non-null   object
 22  country_code         87990 non-null   object
 23  state_code           50903 non-null   object
 24  city                 83890 non-null   object
 25  region               196553 non-null  object
 26  first_investment_at  2583 non-null    object
 27  last_investment_at   2583 non-null    object
 28  investment_rounds    2591 non-null    float64
 29  invested_companies   2591 non-null    float64
 30  first_funding_at     31507 non-null   object
 31  last_funding_at      31507 non-null   object
 32  funding_rounds       31707 non-null   float64
 33  funding_total_usd    27874 non-null   float64
 34  first_milestone_at   91699 non-null   object
 35  last_milestone_at    91699 non-null   object
 36  milestones           91699 non-null   float64
 37  relationships        129667 non-null  float64
 38  created_by           155533 non-null  object
 39  created_at           196553 non-null  object
 40  updated_at           196553 non-null  object
 41  lat                  83852 non-null   float64
 42  lng                  83852 non-null   float64
 43  ROI                  726 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 66.0+ MB

In [5]:
df.describe()

,Unnamed: 0.1,entity_id,parent_id,logo_width,logo_height,investment_rounds,invested_companies,funding_rounds,funding_total_usd,milestones,relationships,lat,lng,ROI
count,196553.000000,196553.000000,0.0,110110.000000,110110.000000,2591.000000,2591.000000,31707.000000,2.787400e+04,91699.000000,129667.000000,83852.000000,83852.000000,726.000000
mean,98276.000000,153006.227333,NaN,459.132685,222.728917,2.372057,2.204940,1.659760,1.481652e+07,1.199402,2.852067,37.564512,-52.123066,45.745037
std,56740.108067,90209.250941,NaN,594.982577,333.090722,12.173510,11.436955,1.201666,6.775937e+07,0.540099,9.100309,15.477102,70.049067,572.035638
min,0.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,2.910000e+02,1.000000,1.000000,-50.942326,-159.497746,0.011111
25%,49138.000000,59850.000000,NaN,192.000000,70.000000,1.000000,1.000000,1.000000,5.000000e+05,1.000000,1.000000,34.052234,-111.940005,2.648879
50%,98276.000000,174539.000000,NaN,267.000000,105.000000,1.000000,1.000000,1.000000,2.564500e+06,1.000000,1.000000,39.768403,-77.036871,6.500497
75%,147414.000000,232655.000000,NaN,484.000000,232.000000,1.000000,1.000000,2.000000,1.100000e+07,1.000000,3.000000,45.421530,-0.127758,13.549900
max,196552.000000,286215.000000,NaN,18200.000000,9600.000000,478.000000,459.000000,15.000000,5.700000e+09,9.000000,1189.000000,77.553604,176.212549,13333.333333

In [6]:
df.shape

(196553, 44)

In [7]:
# Step 2: Drop Unnecessary Columns
columns_to_drop = ['Unnamed: 0.1', 'created_by', 'created_at', 'updated_at',
                   'logo_url', 'logo_width', 'logo_height', 'overview', 'permalink']

# Check which columns exist in the dataframe before dropping
existing_columns_to_drop = [col for col in columns_to_drop if col in df.columns]

df = df.drop(columns=existing_columns_to_drop)
print("Columns dropped successfully.")
display(df.head())

Columns dropped successfully.

,id,entity_type,entity_id,parent_id,name,normalized_name,category_code,status,founded_at,closed_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,c:1,Company,1,NaN,Wetpaint,wetpaint,web,operating,2005-10-17,NaN,...,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,c:10,Company,10,NaN,Flektor,flektor,games_video,acquired,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,34.021122,-118.396467,NaN
2,c:100,Company,100,NaN,There,there,games_video,acquired,NaN,NaN,...,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,network_hosting,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,games_video,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Step 3a: Handle Missing Values in Critical Columns
df.dropna(subset=['name', 'status'], inplace=True)
print("Rows with missing 'name' or 'status' dropped.")
display(df.head())

Rows with missing 'name' or 'status' dropped.

,id,entity_type,entity_id,parent_id,name,normalized_name,category_code,status,founded_at,closed_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,c:1,Company,1,NaN,Wetpaint,wetpaint,web,operating,2005-10-17,NaN,...,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,c:10,Company,10,NaN,Flektor,flektor,games_video,acquired,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,34.021122,-118.396467,NaN
2,c:100,Company,100,NaN,There,there,games_video,acquired,NaN,NaN,...,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,network_hosting,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,games_video,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Step 3b: Handle Missing Values in Descriptive and Location Fields
descriptive_cols = ['description', 'short_description']
location_cols = ['country_code', 'state_code', 'city', 'region']

# Fill missing descriptive fields
for col in descriptive_cols:
    if col in df.columns:
        df[col] = df[col].fillna('Not Provided')

# Fill missing location fields
for col in location_cols:
    if col in df.columns:
        df[col] = df[col].fillna('Unknown')

print("Missing values in descriptive and location fields handled.")
display(df.head())

Missing values in descriptive and location fields handled.

,id,entity_type,entity_id,parent_id,name,normalized_name,category_code,status,founded_at,closed_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,c:1,Company,1,NaN,Wetpaint,wetpaint,web,operating,2005-10-17,NaN,...,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,c:10,Company,10,NaN,Flektor,flektor,games_video,acquired,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,34.021122,-118.396467,NaN
2,c:100,Company,100,NaN,There,there,games_video,acquired,NaN,NaN,...,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,network_hosting,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,games_video,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Step 3c: Handle Dates
date_cols = ['founded_at', 'first_funding_at', 'last_milestone_at', 'first_milestone_at']

for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

print("Date columns converted and invalid dates handled.")
display(df.head())

Date columns converted and invalid dates handled.

,id,entity_type,entity_id,parent_id,name,normalized_name,category_code,status,founded_at,closed_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,c:1,Company,1,NaN,Wetpaint,wetpaint,web,operating,2005-10-17,NaN,...,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,c:10,Company,10,NaN,Flektor,flektor,games_video,acquired,NaT,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,6.0,34.021122,-118.396467,NaN
2,c:100,Company,100,NaN,There,there,games_video,acquired,NaT,NaN,...,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,network_hosting,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,games_video,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [11]:
# Step 4: Correct Data Types

# Identify numeric columns and convert them to appropriate numeric types
numeric_cols = ['funding_total_usd', 'investment_rounds', 'ROI', 'milestones', 'relationships', 'lat', 'lng']
for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Identify categorical and text columns and convert them to string type
text_cols = ['id', 'entity_type', 'name', 'normalized_name', 'category_code', 'status',
             'domain', 'homepage_url', 'twitter_username', 'country_code', 'state_code',
             'city', 'region', 'description', 'short_description']

for col in text_cols:
     if col in df.columns:
        df[col] = df[col].astype(str)

print("Data types corrected.")
display(df.dtypes)

Data types corrected.

id                             object
entity_type                    object
entity_id                       int64
parent_id                     float64
name                           object
normalized_name                object
category_code                  object
status                         object
founded_at             datetime64[ns]
closed_at                      object
domain                         object
homepage_url                   object
twitter_username               object
short_description              object
description                    object
tag_list                       object
country_code                   object
state_code                     object
city                           object
region                         object
first_investment_at            object
last_investment_at             object
investment_rounds             float64
invested_companies            float64
first_funding_at       datetime64[ns]
last_funding_at                object
funding_rounds                float64
funding_total_usd             float64
first_milestone_at     datetime64[ns]
last_milestone_at      datetime64[ns]
milestones                    float64
relationships                 float64
lat                           float64
lng                           float64
ROI                           float64
dtype: object

In [12]:
# Step 5: Geographical Coordinates

# Check for invalid coordinates (e.g., outside of typical ranges)
# A simple check for values outside of -90 to 90 for latitude and -180 to 180 for longitude
invalid_lat = df[(df['lat'] < -90) | (df['lat'] > 90)]
invalid_lng = df[(df['lng'] < -180) | (df['lng'] > 180)]

if not invalid_lat.empty:
    print(f"Found {len(invalid_lat)} rows with invalid latitude values.")
    # Option 1: Remove rows with invalid coordinates
    # df.drop(invalid_lat.index, inplace=True)
    # Option 2: Flag invalid coordinates (e.g., set to NaN)
    df.loc[invalid_lat.index, 'lat'] = np.nan
    print("Invalid latitude values have been set to NaN.")

if not invalid_lng.empty:
    print(f"Found {len(invalid_lng)} rows with invalid longitude values.")
    # Option 1: Remove rows with invalid coordinates
    # df.drop(invalid_lng.index, inplace=True)
    # Option 2: Flag invalid coordinates (e.g., set to NaN)
    df.loc[invalid_lng.index, 'lng'] = np.nan
    print("Invalid longitude values have been set to NaN.")

print("Geographical coordinates checked.")
display(df.head())

Geographical coordinates checked.

,id,entity_type,entity_id,parent_id,name,normalized_name,category_code,status,founded_at,closed_at,...,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,lat,lng,ROI
0,c:1,Company,1,NaN,Wetpaint,wetpaint,web,operating,2005-10-17,NaN,...,2008-05-19,3.0,39750000.0,2010-09-05,2013-09-18,5.0,17.0,47.606209,-122.332071,15.5
1,c:10,Company,10,NaN,Flektor,flektor,games_video,acquired,NaT,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,6.0,34.021122,-118.396467,NaN
2,c:100,Company,100,NaN,There,there,games_video,acquired,NaT,NaN,...,NaN,NaN,NaN,2003-02-01,2011-09-23,4.0,12.0,37.562992,-122.325525,NaN
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,network_hosting,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,games_video,operating,2008-07-26,NaN,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Step 6: Save the Cleaned Data
output_path = '/content/drive/My Drive/cleaned_companies.csv'
df.to_csv(output_path, index=False)
print(f"Cleaned data saved to {output_path}")



```
# This is formatted as code
```

## Data Cleaning Summary

This document summarizes the data cleaning steps performed on the `companies.csv` dataset.

**1. Data Loading and Initial Inspection:**

*   The dataset was loaded into a pandas DataFrame.
*   Initial inspection using `df.head()`, `df.info()`, `df.describe()`, and `df.shape` was performed to understand the data structure, column types, missing values, and basic statistics.

**2. Dropping Unnecessary Columns:**

*   The following columns were identified as not relevant for the planned analysis and were dropped: `Unnamed: 0.1`, `created_by`, `created_at`, `updated_at`, `logo_url`, `logo_width`, `logo_height`, `overview`, and `permalink`.

**3. Handling Missing Values:**

*   **Critical Columns (`name`, `status`):** Rows with missing values in these columns were dropped as they are essential for company identification and status analysis.
*   **Descriptive and Location Fields (`description`, `short_description`, `country_code`, `state_code`, `city`, `region`):** Missing values in descriptive fields were filled with 'Not Provided', and missing values in location fields were filled with 'Unknown' to retain rows and indicate missing information.
*   **Date Columns (`founded_at`, `first_funding_at`, `last_milestone_at`, `first_milestone_at`):** These columns were converted to datetime objects using `pd.to_datetime`. Invalid date formats were coerced to `NaT` (Not a Time) to handle errors gracefully.

**4. Correcting Data Types:**

*   **Numeric Columns:** Columns related to funding, investments, ROI, milestones, relationships, and geographical coordinates (`funding_total_usd`, `investment_rounds`, `ROI`, `milestones`, `relationships`, `lat`, `lng`) were converted to appropriate numeric types using `pd.to_numeric`, with `errors='coerce'` to handle non-numeric values by converting them to NaN.
*   **Text/Categorical Columns:** Columns containing identifiers, types, names, categories, status, domain, URLs, usernames, and descriptive text (`id`, `entity_type`, `name`, `normalized_name`, `category_code`, `status`, `domain`, `homepage_url`, `twitter_username`, `country_code`, `state_code`, `city`, `region`, `description`, `short_description`) were converted to string type using `.astype(str)`.

**5. Geographical Coordinates Validation:**

*   A basic check was performed to identify potentially invalid geographical coordinates (latitude outside -90 to 90, longitude outside -180 to 180).
*   Instead of removing rows, invalid latitude and longitude values were set to `NaN` to flag them for potential future handling or exclusion from location-based analysis.

**6. Saving Cleaned Data:**

*   The cleaned DataFrame was saved to a new CSV file named `cleaned_companies.csv` in the specified Google Drive location, excluding the DataFrame index.

# Task
Analyze the cleaned startup data by visualizing the distribution of company status, category code, geographical location, funding trends, and relationships/milestones, and then summarize the key insights from these visualizations.

## Analyze company status distribution

### Subtask:
Visualize the distribution of company statuses (e.g., operating, acquired, closed) to understand the proportion of companies in different stages.

**Reasoning**:
Use a countplot to visualize the distribution of company statuses and improve readability by rotating x-axis labels.

In [ ]:
plt.figure(figsize=(10, 6))
sns.countplot(data=df, x='status')
plt.title('Distribution of Company Status')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

## Explore category code distribution

### Subtask:
Visualize the distribution of company category codes to identify the most common industries or sectors represented in the dataset.

**Reasoning**:
Create a countplot to visualize the distribution of company category codes.

In [ ]:
plt.figure(figsize=(12, 8))
sns.countplot(data=df, x='category_code')
plt.title('Distribution of Company Category Codes')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

## Visualize geographical distribution

### Subtask:
Create visualizations (e.g., bar plots, maps if possible) to show the distribution of companies across countries, states, and cities.

**Reasoning**:
Generate countplots for the distribution of companies across countries, states, and cities, rotating the x-axis labels for readability and adjusting the layout.

In [ ]:
# Distribution of companies by Country Code
plt.figure(figsize=(15, 7))
sns.countplot(data=df, x='country_code', order=df['country_code'].value_counts().index)
plt.title('Distribution of Companies by Country Code')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

# Distribution of companies by State Code
plt.figure(figsize=(15, 7))
sns.countplot(data=df, x='state_code', order=df['state_code'].value_counts().index)
plt.title('Distribution of Companies by State Code')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

# Distribution of companies by City (Show top N cities for better visualization)
# Get the top 50 most frequent cities
top_cities = df['city'].value_counts().nlargest(50).index

plt.figure(figsize=(20, 8))
sns.countplot(data=df[df['city'].isin(top_cities)], x='city', order=top_cities)
plt.title('Distribution of Companies by City (Top 50)')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

## Analyze funding trends

### Subtask:
If funding data is available, visualize the distribution of funding amounts or the number of funding rounds to understand investment patterns.

**Reasoning**:
Check for the existence of 'funding_total_usd' and 'investment_rounds' columns and visualize their distributions if they exist, handling potential outliers for 'funding_total_usd' using a logarithmic scale if necessary.

In [ ]:
# Check if funding data is available and visualize
if 'funding_total_usd' in df.columns:
    plt.figure(figsize=(12, 6))
    # Handle potential outliers with a logarithmic scale
    sns.histplot(data=df, x='funding_total_usd', bins=50, log_scale=True)
    plt.title('Distribution of Total Funding Amounts (Log Scale)')
    plt.xlabel('Total Funding Amount (USD, Log Scale)')
    plt.ylabel('Number of Companies')
    plt.tight_layout()
    plt.show()

if 'investment_rounds' in df.columns:
    plt.figure(figsize=(10, 6))
    sns.countplot(data=df, x='investment_rounds')
    plt.title('Distribution of Number of Investment Rounds')
    plt.xlabel('Number of Investment Rounds')
    plt.ylabel('Number of Companies')
    plt.tight_layout()
    plt.show()

## Investigate relationships and milestones

### Subtask:
Visualize the distribution of the number of relationships and milestones to see if there are any patterns or correlations with company success.

**Reasoning**:
Create histograms for 'relationships' and 'milestones' columns to visualize their distributions.

In [ ]:
plt.figure(figsize=(12, 6))
sns.histplot(data=df, x='relationships', bins=50, kde=True)
plt.title('Distribution of Number of Relationships')
plt.xlabel('Number of Relationships')
plt.ylabel('Number of Companies')
plt.tight_layout()
plt.show()

plt.figure(figsize=(12, 6))
sns.histplot(data=df, x='milestones', bins=50, kde=True)
plt.title('Distribution of Number of Milestones')
plt.xlabel('Number of Milestones')
plt.ylabel('Number of Companies')
plt.tight_layout()
plt.show()

## Extract insights

### Subtask:
Based on the visualizations, summarize the key findings and insights about the companies in the dataset.

## Summary:

### Data Analysis Key Findings

*   A large number of companies in the dataset are currently operating, followed by those that have been acquired, and then those that are closed.
*   The distribution of company category codes shows the most common industries or sectors represented in the dataset.
*   The geographical distribution visualizations indicate that the majority of companies are located in the United States, with specific states and cities showing higher concentrations.
*   The funding analysis reveals that a significant number of companies receive smaller funding amounts, and most companies have a relatively low number of investment rounds.
*   The distributions of the number of relationships and milestones show how these metrics are spread across the companies in the dataset.

### Insights or Next Steps

*   Investigate the relationship between company status and other factors like category code, location, funding, relationships, and milestones to identify potential predictors of success or failure.
*   Focus further analysis on the most prevalent category codes and geographical locations to understand the characteristics of successful startups in those areas.